
# Lab | Cleaning categorical data

For this lab, we will be using the dataset in the Customer Analysis Business Case. This dataset can be found in `files_for_lab` folder. In this lab we will explore categorical data.

#### 1. Import the necessary libraries if you are starting a new notebook. Using the same data as the previous lab: we_fn_use_c_marketing_customer_value_analysis.csv

In [1]:
import pandas as pd
import numpy as np

In [2]:
customer_df = pd.read_csv('files_for_lab/we_fn_use_c_marketing_customer_value_analysis.csv')
customer_df.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

#### 2. Find  all of the categorical data.  Save it in a categorical_df variable.

In [3]:
categorical_df = customer_df.select_dtypes(object)
categorical_df.shape

(9134, 16)

#### 3. Check for NaN values.

In [4]:
categorical_df.isna().sum()

Customer             0
State                0
Response             0
Coverage             0
Education            0
Effective To Date    0
EmploymentStatus     0
Gender               0
Location Code        0
Marital Status       0
Policy Type          0
Policy               0
Renew Offer Type     0
Sales Channel        0
Vehicle Class        0
Vehicle Size         0
dtype: int64

#### 4. Check all unique values of columns.

In [5]:
for col in categorical_df.columns:
    print(f"Column: {col}")
    display(categorical_df[col].value_counts(dropna=False))
    print()

Column: Customer

BU79786    1
PU81096    1
CO75086    1
WW52683    1
XO38850    1
          ..
HS14476    1
YL91587    1
CT18212    1
EW35231    1
Y167826    1
Name: Customer, Length: 9134, dtype: int64

Column: State

California    3150
Oregon        2601
Arizona       1703
Nevada         882
Washington     798
Name: State, dtype: int64

Column: Response

No     7826
Yes    1308
Name: Response, dtype: int64

Column: Coverage

Basic       5568
Extended    2742
Premium      824
Name: Coverage, dtype: int64

Column: Education

Bachelor                2748
College                 2681
High School or Below    2622
Master                   741
Doctor                   342
Name: Education, dtype: int64

Column: Effective To Date

1/10/11    195
1/27/11    194
2/14/11    186
1/26/11    181
1/17/11    180
1/19/11    179
1/31/11    178
1/3/11     178
1/20/11    173
2/26/11    169
1/28/11    169
2/19/11    168
1/5/11     167
2/27/11    167
1/11/11    166
2/4/11     164
2/10/11    161
2/28/11    161
1/2/11     160
1/21/11    160
1/29/11    160
2/22/11    158
2/5/11     158
2/3/11     158
2/7/11     157
2/12/11    156
1/23/11    155
2/1/11     154
1/18/11    154
1/15/11    153
1/14/11    152
2/11/11    151
1/7/11     151
1/25/11    151
2/25/11    149
1/8/11     149
2/18/11    149
2/2/11     149
1/1/11     148
2/21/11    148
1/24/11    147
1/9/11     146
1/30/11    145
1/13/11    145
2/6/11     144
1/6/11     143
2/23/11    143
1/16/11    142
2/16/11    139
2/13/11    139
2/24/11    139
2/9/11     137
2/17/11    136
1/22/11    136
2/8/11     134
2/20/11    132
2/15/11    130
1/12/11    126
1/4/11     115
Name: Effective To Date, dtype: int64

Column: EmploymentStatus

Employed         5698
Unemployed       2317
Medical Leave     432
Disabled          405
Retired           282
Name: EmploymentStatus, dtype: int64

Column: Gender

F    4658
M    4476
Name: Gender, dtype: int64

Column: Location Code

Suburban    5779
Rural       1773
Urban       1582
Name: Location Code, dtype: int64

Column: Marital Status

Married     5298
Single      2467
Divorced    1369
Name: Marital Status, dtype: int64

Column: Policy Type

Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: Policy Type, dtype: int64

Column: Policy

Personal L3     3426
Personal L2     2122
Personal L1     1240
Corporate L3    1014
Corporate L2     595
Corporate L1     359
Special L2       164
Special L3       148
Special L1        66
Name: Policy, dtype: int64

Column: Renew Offer Type

Offer1    3752
Offer2    2926
Offer3    1432
Offer4    1024
Name: Renew Offer Type, dtype: int64

Column: Sales Channel

Agent          3477
Branch         2567
Call Center    1765
Web            1325
Name: Sales Channel, dtype: int64

Column: Vehicle Class

Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Sports Car        484
Luxury SUV        184
Luxury Car        163
Name: Vehicle Class, dtype: int64

Column: Vehicle Size

Medsize    6424
Small      1764
Large       946
Name: Vehicle Size, dtype: int64

#### 5. Check dtypes. Do they all make sense as categorical data?

In [6]:
categorical_df.dtypes

Customer             object
State                object
Response             object
Coverage             object
Education            object
Effective To Date    object
EmploymentStatus     object
Gender               object
Location Code        object
Marital Status       object
Policy Type          object
Policy               object
Renew Offer Type     object
Sales Channel        object
Vehicle Class        object
Vehicle Size         object
dtype: object

So the column 'Effective To Date' doesn't make sense as categorical, so I convert it to datetime and remove it from **categorical_df**.

In [7]:
customer_df['Effective To Date'] = pd.to_datetime(customer_df['Effective To Date'], infer_datetime_format=True)
categorical_df = customer_df.select_dtypes(object)

#### 6. Does any column contain alpha and numeric data?  Decide how to clean it.

The column 'Customer' contains alphanumeric values, but these are ID's and since that column will be dropped (respectivly used as row labels) we don't care for it anyway.

#### 7. Would you choose to do anything else to clean or wrangle the categorical data?  Comment your decisions.

The column 'Renew Offer Type' contains the values 'Offer 1', 'Offer 2', 'Offer 3' and 'Offer 4'. We can replace these values to 1-4 and convert the column type to integer. Since we're just looking on categoricals, I just drop it...

In [8]:
categorical_df.drop(['Renew Offer Type'], axis=1, inplace=True)

#### 8. Compare policy_type and policy.  What information is contained in these columns.  Can you identify what is important?

Since the value for 'Policy Type' is already included in the 'Policy' column, I will convert the 'Policy' column to
numerical. Then I'll drop it from categorical

In [9]:
def adjust_policy(value):
    '''
    Replace '... L1' to 1, '... L2' to 2 and '... L3' to 3
    Input -> value  Value of column 'Policy'
    Output -> 1, 2 or 3
    '''
    if value.find('L1') != -1:
        return 1
    elif value.find('L2') != -1:
        return 2
    else:
        return 3

# Add new numerical column named 'Policy Liability'
customer_df['Policy Liability'] = categorical_df['Policy'].apply(adjust_policy)
categorical_df = categorical_df.drop(['Policy'], axis=1)

#### 9. Check number of unique values in each column, can they be combined in any way to ease encoding?  Comment your thoughts and make those changes.

For column 'State' we will merge values 'Nevada' and 'Washington' to 'Other'.

In [10]:
categorical_df['State'] = categorical_df['State'].replace({'Nevada':'Other', 'Washington':'Other'})

For column 'Coverage' we will add all 'Premium' values to 'Extended'.

In [11]:
categorical_df['Coverage'] = categorical_df['Coverage'].replace({'Premium':'Extended'})

For column 'Education' add a new value 'Higher Grade' containing all 'Master' and 'Doctor' entries.

In [12]:
categorical_df['Education'] = categorical_df['Education'].replace({
    'Master':'Higher Grade',
    'Doctor':'Higher Grade'
})

For column 'EmploymentStatus' add 'Medical Leave', 'Disabled' and 'Retired' to 'Unemployed'

In [13]:
categorical_df['EmploymentStatus'] = categorical_df['EmploymentStatus'].replace({
        'Medical Leave':'Unemployed',
        'Disabled':'Unemployed',
        'Unemployed':'Unemployed'
})

For column 'Marital Status' merge 'Single' and 'Divorced'.

In [14]:
categorical_df['Marital Status'] = categorical_df['Marital Status'].replace({
    'Divorced':'Single'
})

For column 'Policy Type' we add 'Special Auto' to 'Corporate Auto'.

In [16]:
customer_df['Policy Type'] = categorical_df['Policy'].rename({'Special Auto':'Corporate Auto'})

For column 'Vehicle Class' combine values 'Sports Car', 'Luxury SUV', 'Luxury Car' to 'Other'.

In [18]:
categorical_df['Vehicle Class'] = categorical_df['Vehicle Class'].rename({
    'Sports Car':'Other',
    'Luxury SUV':'Other',
    'Luxury Car':'Other'
})

In [19]:
categorical_df.head()

,Customer,State,Response,Coverage,Education,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Sales Channel,Vehicle Class,Vehicle Size
0,BU79786,Other,No,Basic,Bachelor,Employed,F,Suburban,Married,Corporate Auto,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal Auto,Agent,Four-Door Car,Medsize
2,AI49188,Other,No,Extended,Bachelor,Employed,F,Suburban,Married,Personal Auto,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,Unemployed,M,Suburban,Married,Corporate Auto,Call Center,SUV,Medsize
4,HB64268,Other,No,Basic,Bachelor,Employed,M,Rural,Single,Personal Auto,Agent,Four-Door Car,Medsize