# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
#!pip install -U scipy

In [2]:
import pandas as pd
import numpy as np
import scipy.stats as st

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the San Francisco. We will start by loading the dataset and examining its contents.

In [3]:
# Your code here:
salaries = pd.read_csv('../data/Salaries.csv')

/tmp/ipykernel_6758/3278573303.py:2: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  salaries = pd.read_csv('../data/Salaries.csv')

Examine the `salaries` dataset using the `head` function below.

In [4]:
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Get the amount of missing data in every column

In [5]:
salaries.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

Get the shape of the dataframe

In [6]:
salaries.shape

(148654, 13)

Given output of the previous two cells, drop the corresponding column and compute again the amount of missing values.

In [7]:
salaries = salaries.drop(['Notes'], axis=1)
salaries.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Agency                   0
Status              110535
dtype: int64

Check out what are the possible values of the column "Status".

In [8]:
salaries['Status'].unique()

array([nan, 'PT', 'FT'], dtype=object)

Drop any row with missing values in the "Status" column and compute again the number of missing values.

In [9]:
salaries = salaries.dropna(subset=['Status'])
salaries.isna().sum()

Id                  0
EmployeeName        0
JobTitle            0
BasePay             0
OvertimePay         0
OtherPay            0
Benefits            0
TotalPay            0
TotalPayBenefits    0
Year                0
Agency              0
Status              0
dtype: int64

Check out the types of each column and see if they make sense.

In [10]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38119 entries, 110531 to 148653
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                38119 non-null  int64
 1   EmployeeName      38119 non-null  object
 2   JobTitle          38119 non-null  object
 3   BasePay           38119 non-null  object
 4   OvertimePay       38119 non-null  object
 5   OtherPay          38119 non-null  object
 6   Benefits          38119 non-null  object
 7   TotalPay          38119 non-null  float64
 8   TotalPayBenefits  38119 non-null  float64
 9   Year              38119 non-null  int64
 10  Agency            38119 non-null  object
 11  Status            38119 non-null  object
dtypes: float64(2), int64(2), object(8)
memory usage: 3.8+ MB

In [11]:
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.0,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.0,0.0,82313.7,96570.66,339653.70,436224.36,2014,San Francisco,PT
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.0,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.0,0.0,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT

Do any type conversions and reset the index.

In [12]:
salaries['BasePay'] = pd.to_numeric(salaries['BasePay'])
salaries['OvertimePay'] = pd.to_numeric(salaries['OvertimePay'])
salaries['OtherPay'] = pd.to_numeric(salaries['OtherPay'])
salaries['Benefits'] = pd.to_numeric(salaries['Benefits'])
salaries = salaries.reset_index()
salaries = salaries.drop(['index'], axis=1)
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT

Check out if "TotalPayBenefits" = "BasePay" + "OvertimePay" + "OtherPay" + "Benefits"

In [13]:
salaries["TotalPayBenefits"]==salaries["BasePay"]+salaries["OvertimePay"]+salaries["OtherPay"]+salaries["Benefits"]

0         True
1        False
2         True
3        False
4         True
         ...
38114     True
38115     True
38116     True
38117     True
38118     True
Length: 38119, dtype: bool

What is the percetage of employees for which the previous assumption is not True?

In [14]:
# Your code here:
x = salaries["TotalPayBenefits"]==salaries["BasePay"]+salaries["OvertimePay"]+salaries["OtherPay"]+salaries["Benefits"]
x.value_counts(normalize=True) * 100

True     73.708649
False    26.291351
dtype: float64

There are different departments in the city. List all departments and the count of employees in each department.

In [15]:
salaries.groupby('JobTitle').agg({'EmployeeName':'count'}).rename(columns={'EmployeeName':'Employees'})

                                Employees
JobTitle
ACPO,JuvP, Juv Prob (SFERS)             1
ASR Senior Office Specialist           22
ASR-Office Assistant                   15
Account Clerk                          93
Accountant I                            2
...                                   ...
Wire Rope Cable Maint Sprv              1
Worker's Comp Supervisor 1              6
Worker's Compensation Adjuster         26
X-Ray Laboratory Aide                  35
Youth Comm Advisor                      1

[996 rows x 1 columns]

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of **all FT workers is significantly different from $75/hr**. Get first the hourly wage by dividing "TotalPayBenefits" by 50 weeks (assuming 10 labour days of holidays) and by 40hrs (assuming a 40hrs week).

$$Hourly Wage = \frac{TotalPayBenefits}{1 year}\frac{1 year}{50 Week}\frac{1 Week}{40 hr}$$

Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [16]:
salaries['Hourly_Wage'] = salaries['TotalPayBenefits']/50/40
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Hourly_Wage
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,255.366340
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,239.826105
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,218.112180
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,208.717550

In [17]:
# Your code here: (Compute the mean hourly wage for all the "FT" employees)
ft_wages = salaries[salaries['Status']=='FT']['Hourly_Wage']
ft_wage_mean = np.mean(ft_wages)
ft_wage_mean

69.26420640727143

In [18]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "FT" employees
#
# H0:  sample_mean <= population_mean
# H1:  sample_mean >  population_mean
#
t_statistic = (ft_wage_mean - 75.0) / (np.std(ft_wages, ddof=1) / np.sqrt(len(ft_wages)))
t_statistic

-35.80631941460526

In [19]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
alpha=0.05

# lower critical value
crit_val_lower = st.t.ppf(alpha/2, df=len(ft_wages)-1)
crit_val_lower

-1.9600702128845597

In [20]:
# upper critical value
crit_val_upper = st.t.ppf(1-(alpha/2), df=len(ft_wages)-1)
crit_val_upper

1.9600702128845593

In [21]:
# Method 2: Use the p-value method.
# Your code here:
p_value = st.t.cdf(t_statistic, df=len(ft_wages)-1)
p_value

2.2589156169197237e-273

In [22]:
# Verify hypothesis by t-statistic 
if crit_val_lower < t_statistic < crit_val_upper:
    print("Reject H0, Accept H1")
else:
    print("Accept H0, Reject H1")

Accept H0, Reject H1

In [23]:
# Verify hypothesis by p-value
if alpha < p_value < 1-alpha:
    print("Reject H0, Accept H1")
else:
    print("Accept H0, Reject H1")

Accept H0, Reject H1

In [24]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy

stat, pval = st.ttest_1samp(ft_wages, popmean = 75, alternative = "two-sided")

print(f"statistic: {stat}")
print(f"p-value:   {pval}")

statistic: -35.80631941460526
p-value:   4.517831233839447e-273

#### Are all the methods in agreement?

Yes they are. Except that the p-value computed by ttest_1samp() is twice the size of the p-value computed by
t.cdf(), which is the case since we have a two-sided test.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are **higher than last year's mean of $86000/year for all salaried employees** (use the column "TotalPayBenefits". Test  hypothesis using a 95% confidence interval.

Hint: Use apply and a lambda function to check in "Police" is in the "JobTitle" to get all the "Police" jobs.

In [25]:
# Get all rows where column 'JobTitle' contains the string 'Police'.
police = salaries.loc[salaries.apply(lambda x: x['JobTitle'].find('Police')!=-1, axis=1)]

# Get all yearly wages from police employee
police_wages = police['TotalPayBenefits']

In [26]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "Police" employees

police_pop_mean    = 86000
police_sample_mean = np.mean(police_wages)


t_statistic = (police_sample_mean - police_pop_mean) / \
              (np.std(police_wages, ddof=1) / \
               np.sqrt(len(police_wages)))
t_statistic

# Which is the same as:
# ttest_1samp(police_wages, popmean = 86000, alternative = "two-sided")[0]

50.252984742109945

In [27]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:
alpha=0.05

lower_critical = st.t.ppf(alpha, len(police_wages))
lower_critical

-1.6456555819760406

In [28]:
upper_critical = st.t.ppf(1-alpha, len(police_wages))
upper_critical

1.64565558197604

In [29]:
if lower_critical < t_statistic < upper_critical:
    print("Reject H0, Accept H1")
else:
    print("Accept H0, Reject H1")

Accept H0, Reject H1

In [30]:
# Method 2: Use the p-value method.
p_value = st.t.cdf(t_statistic, len(police_wages))
p_value

1.0

In [31]:
if p_value < alpha:
    print("Reject H0, Accept H1")
else:
    print("Accept H0, Reject H1")

Accept H0, Reject H1

In [32]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy

st.ttest_1samp(police_wages, popmean=police_pop_mean, alternative="less")

Ttest_1sampResult(statistic=50.252984742109945, pvalue=1.0)

The workers from the "JobTitle" with the most employees have complained that their hourly wage is **less than $35/hour**. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [33]:
# Your code here: (Get the department which has most employees)
salaries['JobTitle'].mode()[0]

'Transit Operator'

In [34]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider the right "JobTitle" employees

# H0 sample_mean < 35$
# H1 sample_mean >= 35$

pop_mean   = 35
tops_wages = salaries[salaries['JobTitle']==salaries['JobTitle'].mode()[0]]['Hourly_Wage']
samp_mean  = np.mean(tops_wages)

t_statistics = (samp_mean - pop_mean) / (np.std(tops_wages, ddof=1) / np.sqrt(tops_wages.count()))
t_statistics

19.064990324906383

In [35]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here: 

alpha = 0.05
critical = st.t.ppf(1-alpha, tops_wages.count())
critical

1.6454685290091795

In [36]:
# Method 2: Use the p-value method.
# Your code here:

p_value = st.t.cdf(t_statistic, tops_wages.count())
p_value

1.0

In [37]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [38]:
st.ttest_1samp(tops_wages, popmean=35, alternative='less')[0]

19.064990324906383

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level.

In [39]:
# Method 1: Get the critical values which correspond to a 95% confidence.
# Your code here:
h_wages = salaries['Hourly_Wage']
sample_mean = np.mean(h_wages)

interval = st.t.interval(confidence=0.95,
                         loc=sample_mean,
                         df=h_wages.count(),
                         scale=st.sem(h_wages))

print(f"Sample mean: {sample_mean}")
print(f"Confidence interval: [{interval[0]},{interval[1]}]")

Sample mean: 50.130719334190296
Confidence interval: [49.79825541336182,50.46318325501877]

Now compute a 95% confidence interval for the hourly salary of all the Police employees.

In [40]:
# Your code here:
police_hwages = police['Hourly_Wage']
police_hwages_mean = np.mean(police_hwages)

interval = st.t.interval(confidence=0.95,
                         loc=police_hwages_mean,
                         df=police_hwages.count(),
                         scale=st.sem(police_hwages))

print(f'Sample mean: {police_hwages_mean}')
print(f"Confidence interval: [{interval[0]},{interval[1]}]")

Sample mean: 74.17452106259863
Confidence interval: [72.95787958159777,75.39116254359949]

#Â Chi2 test

Now we want to know if the amount of full time "FT" and part time "PT" employees is equal between Lawers, Meds, Police, Firemen and other departments. 

Considering all the options in this groups of employees will be very time consuming. To simplify this process, create first a function that returns:

* "Policemen" if "Police" is found on "JobTitle"
* "Firemen" if "Fire" is found on "JobTitle"
* "Medical" if "Med" or "Nurse" is found on "JobTitle"
* "Lawyer" if "Attorney" is found on "JobTitle"
* "Other" in any other cases

Then, create a new column named "employee_group" that determines to which group belong the employee.

In [41]:
# Your code here: (Create the function)
def get_employee_group(jobtitle):
    d = {'Police' : 'Policemen', 'Fire' : 'Firemen',
         'Med' : 'Medical', 'Nurse' : 'Medical',
         'Attorney' : 'Lawyer'
        }
    for k in d.keys():
        if k in jobtitle:
            return d[k]
    return 'Other'

In [42]:
# Your code here: (Apply the function)
salaries['employee_group'] = salaries['JobTitle'].apply(get_employee_group)
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Hourly_Wage,employee_group
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,255.366340,Other
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,239.826105,Medical
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,218.112180,Other
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610,Policemen
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,208.717550,Firemen

Determine how many "PT" and "FT" employess have all the employees groups.

In [43]:
# Your code here: (Store the output dataframe into a new variable)
emplgrp = pd.crosstab(salaries['employee_group'], salaries['Status']).reset_index()
emplgrp

Status employee_group     FT     PT
0             Firemen   1333    178
1              Lawyer    317    102
2             Medical   1028   2889
3               Other  18126  12245
4           Policemen   1530    371

Now try compute the expected frequencies doing the calculations with the individual probabilities. Remember that the Chi2 test assumes that both variables (employee_group and FT/PT) are not related (therefore they are independent). Therefore, to compute the expected frequencies you need to compute the probability of each cell and multiply it by the number of observations. ie:

$$\nu(x,y) = p(x,y) * N = p(x) * p(y) * N$$

bear in mind that in general: $p(x,y)\neq p(x)*p(y)$; the equality will only be true if x and y are independent. However, the null hypotheses says that **x and y are independent.** but that's what we're assuming with the null hypotheses.

where "x" is the "employee_group" and "y" the (FT/PT).

In [44]:
# Create an empty dataframe named "frequencies" to store the data.
# Your code here:
frequencies = pd.DataFrame()

In [45]:
# Total
total_FT = emplgrp['FT'].sum()
total_PT = emplgrp['PT'].sum()
total_employee = total_FT + total_PT

# Firemen
firemen = emplgrp[emplgrp['employee_group'] == 'Firemen']
total_firemen = firemen['FT'].sum() + firemen['PT'].sum()

# Lawyers
lawyers = emplgrp[emplgrp['employee_group'] == 'Lawyer']
total_lawyers = lawyers['FT'].sum() + lawyers['PT'].sum()

# Medical
medical = emplgrp[emplgrp['employee_group'] == 'Medical']
total_medical = medical['FT'].sum() + medical['PT'].sum()

# Other
other = emplgrp[emplgrp['employee_group'] == 'Other']
total_other = other['FT'].sum() + other['PT'].sum()

# Police
police = emplgrp[emplgrp['employee_group'] == 'Policemen']
total_police = police['FT'].sum() + police['PT'].sum()

In [46]:
# Your code here: Compute Expected frequency of being "Firemen" and "FT".
# Store the solution in a variable named "firemen_ft"
firemen_ft = (total_firemen * total_FT) / total_employee
firemen_ft

885.2979878800598

In [47]:
# Your code here: Compute Expected frequency of being "Firemen" and "PT".
# Store the solution in a variable named "firemen_pt"
firemen_pt = (total_firemen * total_PT) / total_employee
firemen_pt

625.7020121199402

In [48]:
# Your code here: Compute Expected frequency of being "Lawyers" and "FT". 
# Store the solution in a variable named "lawyers_ft"
lawyers_ft = (total_lawyers * total_FT) / total_employee
lawyers_ft

245.4929562685275

In [49]:
# Your code here: Compute Expected frequency of being "Lawyers" and "PT". 
# Store the solution in a variable named "lawyers_pt"
lawyers_pt = (total_lawyers * total_PT) / total_employee
lawyers_pt

173.5070437314725

In [50]:
# Your code here: Compute Expected frequency of being "Medical" and "FT". 
# Store the solution in a variable named "medical_ft"
medical_ft = (total_medical * total_FT) / total_employee
medical_ft

2294.978304782392

In [51]:
# Your code here: Compute Expected frequency of being "Medical" and "PT". 
# Store the solution in a variable named "medical_pt"
medical_pt = (total_medical * total_PT) / total_employee
medical_pt

1622.021695217608

In [52]:
# Your code here: Compute Expected frequency of being "Other" and "FT". 
# Store the solution in a variable named "other_ft"
other_ft = (total_other * total_FT) / total_employee
other_ft

17794.430966184842

In [53]:
# Your code here: Compute Expected frequency of being "Other" and "PT". 
# Store the solution in a variable named "other_pt"
other_pt = (total_other * total_PT) / total_employee
other_pt

12576.569033815158

In [54]:
# Your code here: Compute Expected frequency of being "Policement" and "FT". 
# Store the solution in a variable named "policemen_ft"
policemen_ft = (total_police * total_FT) / total_employee
policemen_ft

1113.7997848841785

In [55]:
# Your code here: Compute Expected frequency of being "Policement" and "PT". 
# Store the solution in a variable named "policemen_pt"
policemen_pt = (total_police * total_PT) / total_employee
policemen_pt

787.2002151158215

* Store all the expected frequencies of "FT" employees in a list 
* Store all the "PT" employees into another list
* Create a dictionary with "FT" and "PT" as keys and as the values use the previous lists
* Create a dataframe with this dictionary using pd.DataFrame()

In [56]:
# Your code here:
ft_list = [firemen_ft, lawyers_ft, medical_ft, other_ft, policemen_ft]
pt_list = [firemen_pt, lawyers_pt, medical_pt, other_pt, policemen_pt]

frequencies = pd.DataFrame({'FT' : ft_list,
                            'PT' : pt_list})
frequencies

             FT            PT
0    885.297988    625.702012
1    245.492956    173.507044
2   2294.978305   1622.021695
3  17794.430966  12576.569034
4   1113.799785    787.200215

Now use the "st.chi2_contingency()" from scipy.stats [documentation here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) to conduct a Chi2 test to determine if the diferences between employee groups are statistically significant using a 95% confidence level. Hint: fill the function with a dataframe of actual frequencies.

In [57]:
# Your code here: (use the st.chi2_contingency() function from scipy.stats to compute:
# The Chi2 value
# The p-valueYea we 
# The expected frequencies.
# Ho: there is no relationship
# Ha: there is relationship differences
# p_value = P(table | Ho) = P(table | no relationship) = 1.51e-6 < 0.05

In [58]:
chi2 = st.chi2_contingency(emplgrp[['FT', 'PT']])

print(f'chi2-statistic: {chi2[0]}')
print(f'p-value:        {chi2[1]}')
print(f'dof:            {chi2[2]}')
print(chi2[3])

chi2-statistic: 2676.642333711905
p-value:        0.0
dof:            4
[[  885.29798788   625.70201212]
 [  245.49295627   173.50704373]
 [ 2294.97830478  1622.02169522]
 [17794.43096618 12576.56903382]
 [ 1113.79978488   787.20021512]]

Check if your expected frequencies aggree with the ones obtained with the st.chi2_contingency() function

In [59]:
chi2[3] == frequencies.to_numpy()

array([[ True,  True],
       [ True,  True],
       [ True,  True],
       [ True,  True],
       [ True,  True]])

#### Expected frequencies are the same as the ones we got by st.chi2_contingency() !